@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
}

p {
    margin: 0;
}

:root {
    --grey-light: rgb(196, 196, 196);
    --grey-light-bg: rgb(244, 244, 244);
    --color-error: #D73F0E;
}

/*! ************************************************************************************* HEADER ************************************************************************************* */

.header {
    padding: 15px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 200;
}

.header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_burger {
    height: 18px;
    flex-basis: 30px;
    min-width: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.header_burger div {
    height: 2px;
    width: 100%;
    background-color: var(--grey-light);
    border-radius: 5px;
    transition: all 0.3s ease;
}

.header.show_menu .header_burger div:nth-child(2) {
    opacity: 0;
}

.header.show_menu .header_burger div:first-child {
    transform: translate(5px, 5px) rotate(45deg);
}

.header.show_menu .header_burger div:last-child {
    transform: translate(5px, -10px) rotate(-45deg);
}

.logo {
    flex-grow: 1;
    padding-left: 0;
    text-align: center;
}

.logo a img {
    width: 20%;
}

.search_icon {
    flex-grow: 1;
    display: flex;
}

.search_btn {
    padding: 0 30px 5px 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
}

.search_icon i {
    font-size: 16px;
    color: black;
    display: none;
}

.sign_in a {
    text-transform: uppercase;
    font-size: 16px;
}

.cesta_compra {
    position: relative;
    padding: 15px;
    font-size: 20px;
}

.cesta_productos {
    position: absolute;
    color: white;
    background-color: black;
    top: 0px;
    right: -5px;
    font-size: 13px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cesta_productos.no_products {
    display: none;
}

.header_top {
    order: 2;
    flex: 1 1 100%;
}

.header_menu_top {
    border: 1px solid red;
}

.sign_in_text {
    display: none;
}

.icon_person {
    font-size: 24px;
    padding-left: 10px;
}

.nav {
    padding: 30px;
    max-width: 400px;
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
    transform: translateX(-200%);
    transition: transform 0.3s ease-in-out;
    z-index: 100;
}

.nav.show_menu_nav {
    transform: translateX(0%);
}

.nav_head {
    padding: 40px 0;
}

.nav_head .nav_head_list {
    display: flex;
}

.nav_head_list .nav_head_item {
    padding: 0 20px;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
}

.nav_head_list .nav_head_item:first-child {
    padding-left: 0;
}

.nav_head_list .nav_head_item:last-child {
    padding-right: 0;
}

.nav_content {
    display: none;
    position: absolute;
    transition: transform 0.3s ease-in-out;
}

.nav_body_container {
    position: relative;
}

.nav_content.show_nav {
    display: block;
}

.nav_content_list {
    padding: 20px 0;
}

.nav_content_list_item {
    text-transform: uppercase;
    font-size: 15px;
    padding: 5px 0;
}

.nav_img {
    position: relative;
}

.nav_img_text {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
}

.nav_img_text a {
    padding: 15px 100px 15px 15px;
    display: block;
}

.icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    transition: right 0.3s ease;
}

.nav_img_text:hover .icon {
    right: 10px;
}


/*! ************************************************************************************* CATEGORIAS ************************************************************************************* */

.content {
    padding: 10px;
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.aside {
    background-color: var(--grey-light-bg);
    padding: 10px;
    max-width: 280px;
    order: 2;
}

.aside_title {
    font-size: 16px;
    text-transform: uppercase;
}

.aside_item {
    margin: 0;
}

.aside_item a {
    padding: 5px 15px;
    color: grey;
    display: block;
}

.aside_item a:hover {
    text-decoration: underline;
}

.aside_item.active a,
.aside_list_item.active a {
    color: black;
    font-weight: 700;
}

.aside_list {
    padding: 10px 0 10px 25px;
}

.aside_list_item a {
    padding: 5px 15px;
    color: grey;
    display: block;
    font-size: 14px;
}

.filtros {
    padding: 10px 0;
    border-top: 1px solid black;
}

.filter_title {
    text-transform: uppercase;
}

.filter_colors,
.filter_sizes {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px 0;
}

.filter_colors .color {
    width: 40px;
    height: 35px;
    margin: 1px;
    cursor: pointer;
}

.filter_colors .color[data-selected],
.talla[data-selected] {
    -webkit-box-shadow: inset 0px 0px 0px 2px #408FFF;
    box-shadow: inset 0px 0px 0px 2px #408FFF;
}

.talla {
    width: 40px;
    height: 30px;
    margin: 1px;
    font-size: 14px;
    background-color: white;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.filter_btn {
    display: block;
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer;
}

/*range*/

.price-inputs {
    display: flex;
    width: 100%;
    padding: 15px 0;
    justify-content: space-between;
}

.field {
    flex-grow: 1;
}

.field span {
    font-size: 14px;
    color: var(--grey-light);
    padding: 5px 0;
    display: block;
}

.field input[type='number']::-webkit-outer-spin-button,
.field input[type='number']::-webkit-inner-spin-button {
    display: none;
}

.input-max,
.input-min {
    width: 50%;
    padding: 10px;
    font-size: 18px;
}

.slider {
    margin-top: 15px;
    height: 5px;
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    position: relative;
}

.slider .progress {
    height: 5px;
    border-radius: 5px;
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
}

.range-input {
    position: relative;
}

.range-input input[type='range'] {
    position: absolute;
    top: -7px;
    height: 5px;
    width: 100%;
    appearance: none;
    background: none;
    pointer-events: none;
}

.range-input input[type='range']::-webkit-slider-thumb {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    appearance: none;
    pointer-events: auto;
    background-color: black;
}

/*end range*/

.main {
    width: 100%;
    order: 1;
}

.breadcrump p,
.breadcrump a {
    font-size: 13px;
}

.breadcrump p {
    color: var(--grey-light);
}

.main_productos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.product_card {
    flex: 1 1 100%;
    padding: 10px;
    max-width: 250px;
    margin: 0 20px;
}

.product_card:hover {
    background-color: var(--grey-light-bg);
}

.product_discount_porcentaje {
    position: absolute;
    background-color: rgb(202, 25, 25);
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    top: 5px;
    right: 5px;
}

.product_img {
    position: relative;
    width: 100%;
    height: 300px;
}

.product_img img {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
}

.product_content {
    padding: 15px 10px;
}

.product_brand {
    font-size: 14px;
    text-transform: uppercase;
    color: var(--grey-light);
    padding: 5px 0;
}

.product_title {
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    padding: 15px 0;
    border-top: 1px solid var(--grey-light);
    margin: 0;
}

.product_price {
    font-size: 18px;
    color: black;
    font-weight: 700;
}

.product_price.has_discount .price {
    font-size: 14px;
    color: var(--grey-light);
    text-decoration: line-through;
    font-weight: 400;
}

.product_price .product_discount {
    display: none;
    color: rgb(202, 25, 25);
}

.product_price.has_discount .product_discount {
    display: inline;
}

.btn_box {
    padding: 15px 10px;
}

.btn_product_details {
    background-color: rgb(202, 25, 25);
    border: none;
    width: 100%;
}

.btn_product_details a {
    padding: 10px;
    width: 100%;
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.load_product {
    padding: 30px;
    text-align: center;
}

.load_product_btn {
    padding: 20px 35px;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

.load_product_btn:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

/*! ************************************************************************************ FICHA PRODUCTO ************************************************************************************ */

.gallery {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.gallery_mini {
    display: flex;
    flex-wrap: wrap;
    order: 2;
}

.main_foto {
    order: 1;
    margin: 0 auto;
}

.mini_img {
    height: 150px;
    padding: 5px;
}

.mini_img img {
    object-fit: cover;
    height: 100%;
}

/* product info */
.product_sheet_info .product_title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    border-top: none;
    padding-bottom: 0;
}

.product_sheet_info .product_price {
    display: flex;
    align-items: center;
}

.product_sheet_info 
.product_price.has_discount .original_price {
    font-size: 14px;
    color: var(--grey-light);
    text-decoration: line-through;
    font-weight: 400;
}

.product_sheet_info .discount_price {
    display: none;
    padding-left: 15px;
}

.product_sheet_info 
.product_price.has_discount .discount_price {
    display: block;
    color: rgb(202, 25, 25);
}

.product_sheet_info .product_color,
.product_sheet_info .size_title, 
.product_sheet_info .desc_title {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 0;
}

.product_sheet_info .related_product {
    padding: 20px 0;
}

.product_sheet_info .related_product.no_related_product {
    display: none;
}

.product_sheet_info .related_product_list {
    display: flex;
    flex-wrap: wrap;
}

.product_sheet_info .related_product_list_item {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin-right: 10px;
}

.product_sheet_info .related_product_list_item a {
    width: 100%;
    height: 100%;
    display: block;
}

.product_sheet_info .related_product_list_item 
a img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.select_box.error .select_size {
    border: 1px solid rgb(202, 25, 25);
    border-radius: 2px;
}

.select_error_info {
    display: none;
    color: rgb(202, 25, 25);
    font-size: 12px;
    padding: 10px 0;
}

.select_box.error .select_error_info {
    display: block;
}

.product_sheet_info .select_size {
    width: 200px;
    height: 40px;
    font-size: 14px;
    padding: 5px;
}

.product_sheet_info .add_product_btn {
    padding: 20px 0;
    display: flex;
    align-items: center;
}

.product_sheet_info .add_to_shop_btn, 
.product_sheet_info .add_to_wishlist_btn {
    border: none;
    height: 60px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.product_sheet_info .add_to_shop_btn:active, 
.product_sheet_info .add_to_wishlist_btn:active {
    transform: scale(0.98);
}

.product_sheet_info .add_to_shop_btn:focus, 
.product_sheet_info .add_to_wishlist_btn:focus {
    outline: none;
}

.product_sheet_info .add_to_shop_btn {
    width: 50%;
    margin-right: 10px;
    background-color: rgb(202, 25, 25);
    color: white;
}

.product_sheet_info .add_to_wishlist_btn {
    width: 10%;
    font-size: 20px;
    border: 1.5px solid rgb(202, 25, 25);
    color: rgb(202, 25, 25);
    background-color: transparent;
}

.product_sheet_info .shipping_info {
    padding: 35px 0;
    border-top: 1px solid var(--grey-light-bg);
    border-bottom: 1px solid var(--grey-light-bg);
}

.product_sheet_info .shipping_text,
.product_sheet_info .refund_text {
    display: flex;
    align-items: center;
} 

.product_sheet_info .shipping_text .shipping_icon,
.product_sheet_info .refund_text .refund_icon {
    flex-basis: 100px;
    font-size: 25px;
    text-align: center;
    color: var(--grey-light);
}

.product_sheet_info .shipping_text p,
.product_sheet_info .refund_text p {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}

/*!carrito de la compra*/

.carrito {
    padding: 15px;
    max-width: 1250px;
    margin: 0 auto;
}

.no_products_msg.products_added {
    display: none;
}

.promocional_cod_info {
    padding: 20px;
    background-color: rgba(202, 25, 25, 0.3);
    border-radius: 5px;
    display: none;
}

.promocional_cod_info.error {
    display: block;
}

.promocional_cod_info p {
    color: rgb(202, 25, 25);
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
}

/*TODO CLASES CUANDO NO HAY PROD.*/

.carrito_content.no_product_added {
    display: none;
}

.carrito_content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.carrito_product_detail {
    display: flex;
    padding: 30px 0;
    position: relative;
    border-top: 1px solid black;
}

.delete_prod {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--grey-light-bg);
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.delete_prod:after {
    content: '\F78B';
    font-family: bootstrap-icons;
}

.carrito_prod_img {
    width: 175px;
    height: 175px;
}

.carrito_prod_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carrito_product_info {
    padding-left: 5%;
    flex: 1 1 60%;
}

.carrito_product_title {
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    max-width: 360px;
}

.carrito_product_info ul {
    padding: 15px 0;
}

.carrito_product_info ul .carrito_product_list_item {
    font-size: 14px;
    color: var(--grey-light);
}

.carrito_prod_cantidad input {
    display: block;
    padding: 5px;
    font-size: 16px;
}

.carrito_prod_cantidad span {
    font-size: 14px;
    color: rgb(202, 25, 25);
    padding: 5px 0;
    display: none;
}

.carrito_prod_cantidad.no_stock {
    display: block;
}

.carrito_product_price {
    align-self: center;
    flex: 1 1 20%;
}

.carrito_product_price span {
    font-size: 14px;
    font-weight: 700;
    white-space: unset;
}

.carrito_pay {
    padding: 20px;
    background-color: var(--grey-light-bg);
}

.codigo_pro {
    padding: 10px 0;
}

.codigo_pro .codigo_title {
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
}

.codigo_pro input {
    width: 93%;
    padding: 10px;
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
}

.promo_btn {
    background-color: black;
    color: white;
    width: 100%;
    display: block;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: not-allowed;
}

.promo_btn:disabled {
    opacity: 0.5;
}

.subtotal_price,
.total_price,
.shipping_price {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.subtotal_price {
    margin-top: 30px;
    font-weight: 700;
}

.total_price {
    padding: 20px 10px;
    margin-top: 20px;
    background-color: var(--grey-light);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
}

.tax_info {
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
}

.shipping_info .shipping_text,
.shipping_info .refund_text {
    display: flex;
}

.shipping_icon, 
.refund_icon {
    flex-basis: 40px;
    font-size: 20px;
}
.shipping_info .shipping_text p,
.shipping_info .refund_text p {
    text-transform: uppercase;
    font-size: 14px;
}


.pay_btn_box {
    padding: 30px 0;
}

.pay_btn_box .pay_btn {
    width: 100%;
    background-color: rgb(202, 25, 25);
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    padding: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.pay_methods {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}

.method {
    width: 85px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid var(--grey-light);
    padding: 5px;
    margin: 10px;
    background-color: white;
}

.method img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/*! ******************************************************************************************************************************************** REGISTRO Y LOGIN ******************************************************************************************************************************************** */
.form_area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.form_area_info {
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    max-width: 500px;
}


.form-container {
    max-width: 800px;
    width: 100%;
    padding: 20px 10px;
}

.form-message {
    margin: 20px 0;
    padding: 20px 0;
    border: 1px solid;
    border-radius: 5px;
    display: none;
}

.form-message .form-message-text {
    text-align: center;
}

.form-message.success {
    background-color: rgba(45, 163, 45, 0.3);
    border-color: rgb(45, 163, 45);
    display: block;
}
.form-message.success > * {
    color: rgb(45, 163, 45);
}

.form-message.error {
    background-color: rgba(163, 45, 45, 0.3);
    border-color: rgb(163, 45, 45);
    display: block;
}
.form-message.error > * {
    color: rgb(163, 45, 45);
}

.form-element {
    padding: 20px 0;
}

.form-group {
    padding: 13px 0;
    position: relative;
}

.form-label {
    font-size: 12px;
    color: black;
}

.form-label.gender {
    display: block;
}

input[type='text'].form-input,
input[type='password'].form-input {
    display: block;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    width: 97%;
}

.form-group-info {
    display: flex;
    justify-content: space-between;
}

.form-group-info span {
    font-size: 14px;
    color: var(--grey-light);
    padding: 10px 0;
}

.form-icon-password {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--grey-light-bg);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.registro_link {
    color: var(--grey-light);
    text-decoration: underline;
}

/*Select de cumpleaños de clientes*/
.form-select-date {
    display: flex;
    justify-content: space-between;
}

.form-select-input .form-span {
    text-align: center;
    font-size: 14px;
    padding: 5px 0;
}

.form-select-input {
    display: flex;
    flex-direction: column;
    flex: 0 0 25%;
    padding: 5px 0;
}

.form-select-date-input {
    width: 100%;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    color: black;
}

.form-select-date-input:focus {
    outline: none;
}

.politica_datos {
    font-size: 12px;
    color: var(--grey-light);
    margin-bottom: 15px;
}

.form-submit {
    padding: 10px 0;
}

.form-submit-btn {
    padding: 20px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    width: 50%;
    cursor: pointer;
}





.form-group.error-form .form-input {
    border-color: var(--color-error);
}

.form-group.error-form .input-error-info {
    display: block;
}

.input-error-info {
    padding: 5px 0;
    font-size: 14px;
    color: var(--color-error);
    display: none;
}

.input-error-info::before {
    content: '\F431';
    font-family: 'bootstrap-icons';
    padding-right: 5px;
    font-size: 12px;
}

.form-message-close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* loader */
.loading {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
}

.loading.info_loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}




/*! ************************************************************************************* ESCRITORIO ************************************************************************************* */
@media (min-width: 1000px) {

    /*! ************************************************************************************* HEADER ************************************************************************************* */
    .logo {
        flex-grow: 1;
        padding-left: 10%;
        text-align: left;
    }

    .logo a img {
        width: 50%;
    }


    .search_icon i,
    .sign_in_text {
        display: block;
    }

    .icon_person {
        display: none;
    }


    /*categorias*/
    .content {
        flex-direction: row;
    }

    .aside {
        order: 1;
    }

    .main {
        padding-left: 15px;
        order: 2;
    }

    /*! product card */

    .gallery {
        flex-direction: row;
        align-items: flex-start;
    }

    .gallery_mini {
        flex-direction: column;
        cursor: pointer;
        order: 1;
    }

    .gallery .mini_img {
        width: 100px;
    }

    .main_foto {
        order: 2;
    }

    .main_foto img {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }

    .gallery_mini .mini_img:first-child {
        padding-top: 0px;
    }

    .product_sheet_info {
        padding: 0 20px;
        flex-basis: 50%;
    }

    .product_sheet_info .add_to_shop_btn {
        width: 90%;
    }

    .shipping_text, .refund_text {
        padding: 10px 0;
    }

    /*!carrito*/
    .carrito_content {
        flex-direction: row;
    }

    .carrito_products {
        flex: 1 1 80%;
        padding-right: 10px;
    }

    .carrito_product_price span {
        font-size: 20px;
    }

}